body {
  margin: 5%;
  line-height: 1.5;
  background-color: #f7f7ff;
}
 header {
  padding: 80px;
  text-align: center; 
  background: #102F44;
  color: white; /* white text color */
  margin: 5%;
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  
}

/* footer */
.footer {
  background: #102F44;
  border-top: 3px solid #f0b7b3;
  text-align: center;
  padding: 32px;
}
.footer p {
  margin: 0;
  color: #f0b7b3;
}
.footer p:last-child {
  margin-bottom: 0;
}


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
nav {
    overflow: hidden;
    background-color: #060F1F;
    
}

ul {
    float: left;
    display: block;
    color: white;
    overflow: hidden;
    padding: 0;
  
}
li {
    text-decoration: none;
    text-align: center;
    display: inline;
}
    
a:-webkit-any-link {
  text-decoration: none;
  text-align: center;
  display: inline;
  color:#7c90a0;
  width: 33.33%;
  padding: 0.75em 1.5em;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 1.2em;
  transition: all .2s;

}
a:active {
  color: aliceblue;
}
a:hover {
  font-size: 150%;
  background-color: #060F1F;
  color: #f0b7b3;
  border-radius: 5px;
  padding: 0.75em 1.5em;
}


/* article */

article {
  
  padding: 15px;
  border: 1px solid #e3e3e3;
  margin-bottom: 20px;
}
/* Getting to know me pic */

.baby photo, img {
  width: 400px;
  height: 300px;
  border-radius: 6px;
  padding: 5px;
  object-fit: contain;
  
  
}
.grenada map, img {
width: 400px;
height: 300px;
border-radius: 6px;
object-fit: contain;


}

.family picture, img {
width: 400px;
height: 300px;
border-radius: 6px;
padding: 5px;
object-fit: contain;

}
/* pictures display */
.row1, .row2, .row3, .row4{
  display: flex;
}
.column1, .column2, .column3, .column4 {
  flex: 33.33%;
  padding: 5px;
}
  /* amazing roommates */
  .decorate cake, img {
    width: 400px;
    height: 300px;
    object-fit: contain;
  }

  .dance party, img {
    width: 400px;
    height: 300px;
    object-fit: contain;
  }

/* Getting to Know Me, Love Making Desserts, Puzzles, amazing roommates */

  h2 {
    font-size: 30px;
    text-decoration: underline;
    color:#f0b7b3;
  }
  p1 {
    font-size: 25px;
    
  }
  

  /* Love Making Desserts*/
  
    .desc {
      text-align: center;
      padding: 15px;
      border: 5px solid #102F44;
      background-color: #f0b7b3;
      color: #060F1F
    }

  .Macroons, img {
    width: 400px;
    height: 300px;
    object-fit: contain;
    
  }
  .Strawberry img {
    width: 400px;
    height: 300px;
    object-fit: contain;
    
  }
  .Poppy img {
    width: 400px;
    height: 300px;
    object-fit: contain;
    

  }
  /* puzzles
  /* .fan {
    width: 400px;
    height: 300px;
    object-fit: contain;
  }

  .symmetry {
    width: 400px;
    height: 300px;
    object-fit: contain;
  }

.flower {
  width: 400px;
  height: 300px;
  object-fit: contain;
}
   */

  /* Bearded Dragon */
.collapsible  {
    background-color: #060F1F;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 30px;
  }
  
.active, .collapsible:hover {
    background-color: #555;
  }

  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #060F1F;
    color: whitesmoke;
    font-size: 25px;

  }
  strong1 {
  color: aquamarine;
  }

  footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #5E4C5A;
    text-align: center;
 }

/* project page */


.collapsible2  {
  background-color: #060F1F;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 30px;
}

.active, .collapsible2:hover {
  background-color: #555;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #060F1F;
  color: whitesmoke;
  font-size: 25px;

}
   #farrs {
  color: #f0b7b3;
}

 /* contact page */
.fa-square-facebok {
    size: fa-10x;
    margin: 5% 0;
    
  
}
.fa-linkedin {
    size: 40px;
    padding: 60px;
    

}
.fa-brands {
  padding: 5px;
  margin: 2px;
  font-size: 20px;
  width: 25px;
  text-align: center;
  text-decoration: none;
  margin: 5px 5px;
  border-radius: 50%;
  display: inline-block;
 
}
/* form */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #f0b7b3;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #102F44;
  color: #7c90a0;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #f0b7b3;
}

.container {
  border-radius: 5px;
  background-color: #060F1F;
  padding: 10px;
}

.column5 {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}


.row5:after {
  content: "";
  display: table;
  clear: both;
}
label {
  color: #7c90a0;
}



