body {
  margin: 5%;
}
 header {
  padding: 80px;
  text-align: center; 
  background: #102F44;
  color: white; /* white text color */
  margin: 5%;
  
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
nav {
    overflow: hidden;
    background-color: #060F1F;
    
}

ul {
    float: left;
    display: block;
    color: white;
    overflow: hidden;
    padding: 0;
  
}
li {
    text-decoration: none;
    text-align: center;
    display: inline;
}
    
a:-webkit-any-link {
  text-decoration: none;
  text-align: center;
  display: inline;
  color:#7c90a0;
  width: 33.33%;
  

}
a:active {
  color: aliceblue;
}
a:hover {
  font-size: 150%;
}

.baby photo, img {
  width: 150px;
  border-radius: 6px;
  padding: 5px;
  object-fit: contain;
  
}
.grenada map, img {
width: 150px;
border-radius: 6px;
padding: 5px;
object-fit: contain;
}

.family picture, img {
width: 150px;
border-radius: 6px;
padding: 5px;
object-fit: contain;
}
.row1 {
  display: flex;
}
.column1 {
  flex: 33.33%;
  padding: 5px;
}
  

/* Getting to Know Me */

  h2 {
    font-size: 30px;
    text-decoration: underline;
    color: #f0b7b3;
  }
  p1 {
    font-size: 25px;
    
  }
  p2 {
    font-size: 25px;
  }

  /* Bearded Dragon */
.collapsible  {
    background-color: #060F1F;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 30px;
  }
  
.active, .collapsible:hover {
    background-color: #555;
  }

  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #060F1F;
    color: whitesmoke;
    font-size: 25px;

  }
  footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #5E4C5A;
    text-align: center;
 }

/* project page */
Farrs Gallery {
  color: #f0b7b3;
}





 /* contact page */
.fa-brands fa-square-facebok {
    font-size: fa-10x;
    margin: 5% 0;
   

}
.fa-brands fa-linkedin {
    font-size: 40px;
    padding: 60px;

}

