body {
  margin: 5%;
}
 header {
  padding: 80px;
  text-align: center; 
  background: #102F44;
  color: white; /* white text color */
  margin: 5%;
  
}
.footer {
  background: #f0b7b3;
  border-top: 1px solid #102F44;
  text-align: center;
  padding: 32px;
}




.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
nav {
    overflow: hidden;
    background-color: #060F1F;
    
}

ul {
    float: left;
    display: block;
    color: white;
    overflow: hidden;
    padding: 0;
  
}
li {
    text-decoration: none;
    text-align: center;
    display: inline;
}
    
a:-webkit-any-link {
  text-decoration: none;
  text-align: center;
  display: inline;
  color:#7c90a0;
  width: 33.33%;
  

}
a:active {
  color: aliceblue;
}
a:hover {
  font-size: 150%;
}
/* Getting to know me pic */

.baby photo, img {
  width: 400px;
  height: 300px;
  border-radius: 6px;
  padding: 5px;
  object-fit: contain;
  
  
}
.grenada map, img {
width: 400px;
height: 300px;
border-radius: 6px;
object-fit: contain;


}

.family picture, img {
width: 400px;
height: 300px;
border-radius: 6px;
padding: 5px;
object-fit: contain;

}

.row1 {
  display: flex;
}
.column1 {
  flex: 33.33%;
  padding: 5px;
}
  

/* Getting to Know Me, Love Making Desserts */

  h2 {
    font-size: 30px;
    text-decoration: underline;
    color:#f0b7b3;
  }
  p1 {
    font-size: 25px;
    
  }
  p2 {
    font-size: 25px;
  }

  /* Love Making Desserts pic */
  .row2 {
    display: flex;
    float: left;
  }
  .column2 {
    flex: 33.33%;
    padding: 5px;
    float: left;
    }
  
    .desc {
      text-align: center;
      padding: 15px;
      border: 5px solid #102F44;
      background-color: #f0b7b3;
      color: #060F1F
    }

  .Macroons, img {
    width: 400px;
    height: 300px;
    
  }
  .Strawberry Cheesecake Pretzel, img {
    width: 400px;
    height: 300px;
    
  }
  .Poppy Seed Roulade, img {
    width: 400px;
    height: 300px;
    

  }

  /* Bearded Dragon */
.collapsible  {
    background-color: #060F1F;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 30px;
  }
  
.active, .collapsible:hover {
    background-color: #555;
  }

  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #060F1F;
    color: whitesmoke;
    font-size: 25px;

  }
  strong1 {
color: aquamarine;
  }

  footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #5E4C5A;
    text-align: center;
 }

/* project page */


.collapsible2  {
  background-color: #060F1F;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 30px;
}

.active, .collapsible2:hover {
  background-color: #555;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #060F1F;
  color: whitesmoke;
  font-size: 25px;

}
   #farrs {
  color: #f0b7b3;
}





 /* contact page */
.fa-brands fa-square-facebok {
    size: fa-10x;
    margin: 5% 0;
    list-style: none;
    display: inline;
    margin-left: 0 !important;
    padding: 0;
   

}
.fa-brands fa-linkedin {
    size: 40px;
    padding: 60px;

}



